<h1>Listing project_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project_types.each do |project_type| %>
  <tr>
    <td><%= project_type.name %></td>
    <td><%= link_to 'Show', project_type %></td>
    <td><%= link_to 'Edit', edit_project_type_path(project_type) %></td>
    <td><%= link_to 'Destroy', project_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project type', new_project_type_path %>
