.leftSide
  .leftSide
    %h1.heading Links
  .leftSide
    .suggestChanges
      = link_to "Edit", edit_project_by_action_type_path(@project, "link")
.rightSide
  .nextPage
    = link_to "next", display_project_by_action_type_path(@project, "news")
  .previousPage
    = link_to "next", display_project_by_action_type_path(@project, "funding")
.clr
.borderBottom
%p.marTop15
%ul.black
  - @project.links.each do |obj|
    %li{:style => "display:list-item; list-style-type:disc;margin-left:20px;"}
      %strong{:style => "font-size:13px; line-height:20px;"}
        = obj.name
        = link_to obj.url, obj.url
        %br
