.leftSide
  .leftSide
    %h1.heading Stakeholders
  .leftSide
    .suggestChanges
      = link_to "Edit", edit_project_by_action_type_path(@project, "stakeholder")
.rightSide
  .nextPage
    = link_to "next", display_project_by_action_type_path(@project, "funding")
  .previousPage
    = link_to "next", display_project_by_action_type_path(@project, "objective")
.clr
.borderBottom
%ul.objectivesNavigation.black.marTop15
  - @project.stakeholders.each do |ks|
    %li.main
      = link_to ks.name, "http://#{ks.url}/"
