/ signupContent start here
.signupContent
  .signupLogo
  .loginText Signup
  .clr
  .signupBorder
  .signupFieldWrapper
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = devise_error_messages!
      %label First Name
      .clr
      = f.text_field(:first_name , :class => "field signpFiled" , :placeholder => "First name")
      .clr
      %label Last Name
      .clr
      = f.text_field(:last_name,:class => "field signpFiled" ,:placeholder => "Last Name")
      .clr
      %label Email
      .clr
      = f.text_field(:email,:class => "field signpFiled", :placeholder => "user@example.com")
      %label City
      .clr
      = f.text_field(:city,:class => "field signpFiled", :placeholder => "City..")
      %label Password
      .clr
      = f.password_field(:password,:class => "field signpFiled")
      %label Confirm Password
      .clr
      = f.password_field(:password_confirmation , :class => "field signpFiled")
      .clr
      .leftSide
        .leftSide
          %input.submitbg{:name => "", :type => "submit", :value => "Signup"}/
      .clr
      %br
      %h3 Login with:
      %div
        %a{ :href => "/auth/twitter" }
          %img{ :src => "/images/twitter_64.png" }
        %a{ :href => "/auth/facebook" }
          %img{ :src => "/images/facebook_64.png" }
      = render :partial => "devise/shared/links"
/ signupContent end here
