= form_for(@project_objective) do |f|
  - if @project_objective.errors.any?
    #error_explanation
      %h2
        = pluralize(@project_objective.errors.count, "error")
        prohibited this project_objective from being saved:
      %ul
        - @project_objective.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .actions
    = f.submit
