<h1>Listing project_objectives</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project_objectives.each do |project_objective| %>
  <tr>
    <td><%= project_objective.name %></td>
    <td><%= link_to 'Show', project_objective %></td>
    <td><%= link_to 'Edit', edit_project_objective_path(project_objective) %></td>
    <td><%= link_to 'Destroy', project_objective, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project objective', new_project_objective_path %>
