%li{:class => margin_class}
  .heading
    = project.title
  .imageWrapper
    %img{:alt => "", :height => "193", :src => "images/testPhoto.jpg", :width => "258"}/
  .voteViewMurge
    .viewWrapper
      = project.view_count || 0
      View &nbsp&nbsp
    = render :partial => 'projects/fb_like'
    .clr
  .clr
  .textWrapper
    .heading
      Location
    .clr
    = project.address 
  .textWrapper
    .heading
      Summary
    .clr
    = truncate(project.description, :length => 50)
    %a{:href => show_project_path(project.city, project.slug)} more
