.homeWrapper
  .mapWrapper
    #map_home_canvas
      :javascript
        jQuery(document).ready(function() {
          var coordinates = #{@coordinates.to_json};
          var center_cord = #{@center_coords.to_json};
          var myOptions = {
            zoom: 16,
            center: new google.maps.LatLng(center_cord[0], center_cord[1]),
            mapTypeId: google.maps.MapTypeId.ROADMAP
          }
          var map = new google.maps.Map(document.getElementById("map_home_canvas"), myOptions);
           var infoWindow = new google.maps.InfoWindow;
           $.each(coordinates, function(i, cord) {
             var marker = new google.maps.Marker({
                position: new google.maps.LatLng(cord[0], cord[1]),
                map: map,
                title: cord[2]});

             google.maps.event.addListener(marker, 'click', function(e) {
                  infoWindow.setContent(this.title);
                  infoWindow.open(map, this);
             });

           });
        });
    .searchWrapper
      = javascript_include_tag 'search'
      = form_tag(project_search_path) do
        = text_field_tag 'location', 'Search', :class => 'field', :id => 'search_location'
        = submit_tag nil, :class => 'searchBtn'
      .clr
  .title
    .btn{:style => "margin-top:20px;"}
      %a.sign_up{:href => new_project_path} Create Project
