
- content_for :search do
  = render  "layouts/search_projects" 
.projectpageHeading
  Created projects
  %span
    - if !@user_projects.nil?
      = "#{@user_projects.count} projects" 
.clr
%ul.elementWrapper
  - @user_projects.each do |project|
    %li
      .leftContent
        %h1.smallStar.selected
          =# link_to "", "#{project.id}", :class => 'smallStar deselected',:id => "star_#{project.id}", :remote => true,  :style => 'padding-bottom:3px;'
          = link_to project.title, show_project_path(project.city, project.slug)
        .leftSide
          =#.commentBg 2
        .paddingWrapper
          %h4 
            = project.tagline
          %p
            = raw truncate(sanitize(project.description), :length => 100)
      .righContent
        .img
          %img{:height => "75", :src => "/images/resultBg.jpg", :width => "100"}/
      .clr
      .progressbarWrapper
        .leftSide
          .planningLoader
            .planningLoading
          %span
            = project.status 
        .viewWrapper.rightSide 
          = project.view_count
      .clr
.clr
.projectpageHeading.marTop15
  Followed projects
  %span
    = ""    # "#{current_user.followed_projects.count} project/projects" 
.clr
%ul.elementWrapper
  - if !@followed_projects.nil?
    - @followed_projects.each do |followed_project| 
      - project = Project.find(followed_project.project_id) 
      -if project.is_hidden == false
        - if Project.find(followed_project.project_id).user_id != current_user.id         
          %li
            .leftContent
              %h1
                = link_to '', followed_projects_project_path(project), :class => 'smallStar star_selected', :id => "star_#{project.id}", :style => "padding bottom:4px;" 
                = link_to project.title, show_project_path(project.city, project.slug)
     
              .paddingWrapper
                %h4
                  = project.tagline 
                %p
                  = project.title 
            .righContent
              .img
                %img{:height => "75", :src => "/images/resultBg.jpg", :width => "100"}/
            .clr
            .progressbarWrapper
              .leftSide
                .planningLoader
                  .planningLoading
                %span
                  = project.status 
              .viewWrapper.rightSide 
                = project.view_count
          .clr
        / div left End
        / div right start
  / div right end
.clr
  / content end
.clr

- content_for :sidebar do
  = render "dashboard_sidebar"

