%h1.heading News
.borderBottom
%p News related to the project
%ul.rightNavigation
  - @project.news.each do |sh|
    %li
      =raw sh.content
- news = News.new
= form_for news, :url => project_news_index_path(@project, news) do |f|
  .leftSide
    = f.text_area(:content ,:class => "stakeholder", :placeholder => "News", :id => "project[content]")
    %br/
    = link_to  "Suggestions", project_suggestions_project_path(:type => "news"), :remote => true, :class => "show_suggestions"
    -@suggestions = @project.suggestions.where(:field_name => 'news')
    %div{:id => 'suggestions', :style => 'display:none;'}
      -@suggestions.each do |suggestion|
        %b
          = suggestion.user.first_name
        .clr
        = f.text_area(:suggestions, :style => "width:320px;height:35px", :id => "project[suggestions]", :value => suggestion.text)
        .clr
    .clr
    = f.submit(:class => "submitbg", :value => "Add News")
  / div left End
.clr
/ content end
.clr
/ footer Start
#footer
/ footer end
.clr
:javascript
  var editor1 = new punymce.Editor({id : 'project[content]'});
  $(".show_suggestions").click(function(){
  $('#suggestions').toggle()
  });

