%ul.black.borderBottom
  - @project.project_objectives.each do |obj|
    %li{:style => "display:list-item; list-style-type:disc;margin-left:20px;"}
      %strong{:style => "font-size:13px; line-height:30px;"}
        = obj.name
        = "("+ obj.priority+ ")"
        = link_to "Destroy", project_project_objective_path(@project, obj), :class => "deleteObjective"
        
        = link_to "Add SubObjective", "#", :class => "addSubObjectiveLink"
        %br
      %ul.objectivesSub
        - if obj.sub_project_objectives.present?
          - obj.sub_project_objectives.each do |subobj|
            %li{:style => "display:list-item; list-style-type:disc;margin-left:30px;"}
              = link_to subobj, "#"
      .subobjectiveContent{:style => "display:none;"}
        %span Enter sub objective
        = form_for ([@project, obj]) do |f|
          .leftSide
            .leftSide
              -#= f.fields_for obj.sub_project_objectives.new, :sub_project_objectives do |sub|
                = sub.text_field :name
              = text_field_tag "project_objective[sub_project_objectives][]", "", :class => "subobjective"
              -#%input.field.subobjective{:name => "", :type => "text", :value => "Sub Objective"}/
            -#.rightSide
            -#  %select.selectWidth
            -#    %option High
            -#    %option Medium
            -#    %option Low
          .leftSide
            = submit_tag "Add Sub Objective", :class => "subObjective"
            -#%input.subObjective{:type => "button", :value => "Add sub objective"}/
          .leftSide.marLeft10 I am done
          .clr

%div.marTop15
  = form_for [@project, @project.project_objectives.new] do |f|
    .leftSide
      -#%input.field.objective{:name => "", :type => "text", :value => "Objective"}/
      = f.text_field :name, :value => "Objective", :class => "field objective"
    .rightSide
      .rightSide
        = collection_select "project_objective", "priority", ["High", "Medium", "Low"], :to_s, :to_s
    = link_to  "Suggestions",project_suggestions_project_path(:type => "objective"), :remote => true, :class => "show_suggestions" 
    - @suggestions = @project.suggestions.where(:field_name => 'objective')
    %div{:id => 'suggestions', :style => 'display:none;'}
      -@suggestions.each do |suggestion|
        %b
          = suggestion.user.first_name
        .clr
        = f.text_area(:suggestions, :style => "width:320px;height:35px", :id => "project[suggestions]", :value => suggestion.text, :readonly => "readonly") 
        .clr
      .clr
    .clr    
    = submit_tag "Add Objective", :class => "submitbg"

:javascript
  $(".show_suggestions").click(function(){
  $('#suggestions').toggle()
  });
