%h1.heading Stakeholders
.borderBottom
%p There will be lots of different people who have an interest in the project for a variety of reasons. You can list them here and begin identifying the key stakeholders. -Approval must be meet by these people for the project to be judged an overall success.
%ul.black.borderBottom
  - @project.stakeholders.each do |sh|
    %li{:style => "display:list-item; list-style-type:disc;margin-left:20px;"}
      %strong{:style => "font-size:13px; line-height:30px;"}
        = sh.key ? "#{sh.name} (key stakeholder)" : sh.name
        .rightSide
          = link_to "Destroy", project_stakeholder_path(@project, sh) , :class => "deleteStakeholder"
- stakeholder = Stakeholder.new
= form_for stakeholder, :url => project_stakeholders_path(@project,stakeholder) do |f|
  .leftSide
    = f.text_field(:name ,:class => "stakeholder", :placeholder => "Stakeholder Name")
    = f.check_box(:key)
    %label Key Stakeholder 
    %br/
    %br/
    = f.text_field(:url ,:class => "stakeholder", :placeholder => "URL")
    %br/
    = link_to  "Suggestions",project_suggestions_project_path(:type => "stakeholder"), :remote => true, :class => "show_suggestions"
    -@suggestions = @project.suggestions.where(:field_name => 'stakeholder')
    %div{:id => 'suggestions', :style => 'display:none;'}
      -@suggestions.each do |suggestion|
        %b
          = suggestion.user.first_name
        .clr
        = f.text_area(:suggestions, :style => "width:320px;height:35px", :id => "project[suggestions]", :value => suggestion.text, :readonly => "readonly")
        .clr
      .clr
    .clr    
    = f.submit(:class => "submitbg", :value => "Add Stakeholder")
  / div left End
.clr
/ content end
.clr
/ footer Start
#footer
/ footer end
.clr
:javascript
  $(".show_suggestions").click(function(){
  $('#suggestions').toggle()
  });

