%h1.heading Project Funding 
.borderBottom
%p How do you think the project might be funded?
%p Will it be a local government project, state, federal, NGO or a private business project?
%ul.rightNavigation
  - @project.project_fundings.each do |sh|
    %li
      = link_to sh.name, "#"
- project_funding = ProjectFunding.new
= form_for project_funding, :url => project_project_fundings_path(@project,project_funding) do |f|
  .leftSide
    = f.text_field(:name ,:class => "stakeholder", :placeholder => "Project Funding")
    .clr
    = link_to  "Suggestions", project_suggestions_project_path(:type => "fundings"), :remote => true, :class => "show_suggestions"
    -@suggestions = @project.suggestions.where(:field_name => 'fundings')
    %div{:id => 'suggestions', :style => 'display:none;'}
      -@suggestions.each do |suggestion|
        %b
          = suggestion.user.first_name
        .clr
        = f.text_area(:suggestions, :style => "width:320px;height:35px", :id => "project[suggestions]", :value => suggestion.text)
        .clr
    .clr
    = f.submit(:class => "submitbg", :value => "Add Project Funding")
  / div left End
.clr
/ content end
.clr
/ footer Start
#footer
/ footer end
.clr
:javascript
  $(".show_suggestions").click(function(){
  $('#suggestions').toggle()
  });

