%h1.heading Links 
.borderBottom
%p Enter external links here, keep the most relevant near the top as only the first few will be displayed to the average user
%ul.rightNavigation
  - @project.links.each do |sh|
    %li
      = "#{sh.name}, #{sh.url}"
- project_link = Link.new
= form_for project_link, :url => project_links_path(@project,project_link) do |f|
  .leftSide
    = f.text_field(:name ,:class => "stakeholder", :placeholder => "Link")
    %br/
    %br/
    = f.text_field(:url ,:class => "stakeholder", :placeholder => "URL")
    %br/
    = link_to  "Suggestions",project_suggestions_project_path(:type => "links"), :remote => true, :class => "show_suggestions"
    -@suggestions = @project.suggestions.where(:field_name => 'links')
    %div{:id => 'suggestions', :style => 'display:none;'}
      -@suggestions.each do |suggestion|
        %b
          = suggestion.user.first_name
        .clr
        = f.text_area(:suggestions, :style => "width:320px;height:35px", :id => "project[suggestions]", :value => suggestion.text)
        .clr
    .clr
    = f.submit(:class => "submitbg", :value => "Add Link")
  / div left End
  .clr
/ content end
.clr
/ footer Start
#footer
/ footer end
.clr
:javascript
  $(".show_suggestions").click(function(){
  $('#suggestions').toggle()
  });

