.formWrapper
  = form_for(@project) do |f| 
    %h2 Summary
    %p Describe the reason for the project. It might be a problem to be solved or an opportunity for something new
    = f.text_area(:description, :style => "width:320px;height:70px", :id => "project[description]")

    %h2 Location
    = f.text_field(:address, :class => "field large marTop10", :placeholder => "Enter the address of the project")
    %p This address should be plottable on a google map - be as specific as the problem is. i.e if the problem is city based enter only the city and the country, if the problem has an exact address enter the exact address including street no. and name, suburb, city, country and postcode

    %h2 Project Title
    %p Write a one sentence summary of your description
    = f.text_field(:title, :class => "field large", :placeholder => "Hint summarise your description")

    - unless @project.new_record?
      #project_type1.borderBottom
        %h3 Category
        %ul
          -APP_CONFIG[:categories].each do |category|
            %li
              = check_box_tag "project[categories][]", category, (!@project.categories.blank? and @project.categories.include?(category)) ? true : false, :class => 'category filter'
              %label.label= category
        .clr
      #project_status1.borderBottom
        %h3 Phase / Status
        %ul
          -APP_CONFIG[:statuses].each do |status|
            %li
              = radio_button_tag "project[status]", status.gsub(/\W/, ''), (!@project.status.blank? and @project.status == status) ? true : false, :class => 'category filter'
              %label.label= status
        .clr
      #project_scope1.borderBottom
        %h3 Scope
        %ul
          -APP_CONFIG[:project_scopes].each do |scope|
            %li
              = radio_button_tag "project[project_scope]", scope, (!@project.project_scope.blank? and @project.project_scope == scope) ? true : false, :class => 'category filter'
              %label.label= scope
        .clr
      %h2 Project Photos
      %p Photos
      = render 'plupload'
      %b
        Project Tagline <br>
      = f.text_area(:tagline, :style => "width:320px;height:20px", :id => "project[tagline]", :value => "#{@project.tagline}" ) 
      .clr
      %b
        Project Manager <br>
      = f.text_area(:manager, :style => "width:320px;height:20px", :id => "project[manager]", :value => "#{@project.manager}")
      .clr
      %b
        Project Sponsor <br>
      = f.text_area(:sponsor, :style => "width:320px;height:20px", :id => "project[sponsor]", :value => "#{@project.sponsor}")
      .clr
      %b
        Project Cost <br>
      = f.text_area(:cost, :style => "width:320px;height:20px", :id => "project[cost]", :value => "#{@project.cost}")
      .clr
      %b
        Project Period <br>
      = f.text_area(:period, :style => "width:320px;height:20px", :id => "project[period]", :value => "#{@project.period}") 
      .clr
      = link_to  "Suggestions", project_suggestions_project_path(:type => "summary"), :remote => true, :class => "show_suggestions"
      - @suggestions = @project.suggestions.where(:field_name => 'summary')    
      %div{:id => 'suggestions', :style => 'display:none;'}
        - @suggestions.each do |suggestion|
          %b
            = suggestion.user.first_name
          .clr
          = f.text_area(:suggestions, :style => "width:320px;height:35px", :id => "project[suggestions]", :value => suggestion.text)
          .clr
      .clr
    = f.submit :class => "submitbg"

  .clr
/ createProjecContent end
.clr
/ footer Start
#footer
/ footer end
.clr
:javascript
  var editor1 = new punymce.Editor({id : 'project[description]'});
  $(".show_suggestions").click(function(){
  $('#suggestions').toggle()
  });
