/div right start
%h1.heading Add/Edit Contents
.borderBottom
%h1.marTop20 Contents
%ul.leftNavigation
  %li.main
    %a.head{:href => "#"} Project Outline
    %ul.leftSub
      %li
        = link_to "Summary", edit_project_by_action_type_path(@project,"summary"), :class => "okArow"
      %li
        %a.eidtArow{:href => "#"} Objectives
      %li
        = link_to "Stakeholders", edit_project_by_action_type_path(@project, "stakeholder") 
  %li
    = link_to "Funding", edit_project_by_action_type_path(@project, "funding")
  %li
    = link_to "Links", edit_project_by_action_type_path(@project, "link")
  %li
    = link_to "News", edit_project_by_action_type_path(@project, "news")
.addContent
  %a{:href => "#"} Add new content page
.borderBottom
/ div right end

