/div right start
%h1.heading Add/Edit Contents
.borderBottom
%h1.marTop20 Contents
%ul.leftNavigation
  %li.main
    %a.head{:href => "#"} Project Outline
    %ul.leftSub
      %li
        = link_to "Summary", display_project_by_action_type_path(@project,"summary"), :class => "summary"
      %li
        = link_to "Objectives", display_project_by_action_type_path(@project,"objective"), :class => "objectives"
      %li
        = link_to "Stakeholders", display_project_by_action_type_path(@project, "stakeholder")
  %li
    = link_to "Funding", display_project_by_action_type_path(@project, "funding")
  %li
    = link_to "Links", display_project_by_action_type_path(@project, "link")
.addContent
  %a{:href => "#"} Add new content page
.borderBottom
/ div right end

