/div right start
%h1.heading Add/Edit Contents
.borderBottom
%h1.marTop20 Contents
%ul.leftNavigation
  %li.main
    %a.head{:href => "#"} Project Outline
    %ul.leftSub
      %li 
        - count_unseen_suggestions = @project.suggestions.where(:field_name => "summary", :is_viewed => false).count
        = link_to "Summary#{count_unseen_suggestions == 0 ? "":",(#{count_unseen_suggestions})"}", display_project_by_action_type_path(@project,"summary"), :class => select_if(@selection, "summary")
      %li
        - count_unseen_suggestions = @project.suggestions.where(:field_name => "objective", :is_viewed => false).count
        = link_to "Objectives#{count_unseen_suggestions == 0 ? "":",(#{count_unseen_suggestions})"}", display_project_by_action_type_path(@project,"objective"), :class => select_if(@selection, "objective")
      %li
        - count_unseen_suggestions = @project.suggestions.where(:field_name => "stakeholder", :is_viewed => false).count
        = link_to "Stakeholders#{count_unseen_suggestions == 0 ? "":",(#{count_unseen_suggestions})"}", display_project_by_action_type_path(@project, "stakeholder"), :class => select_if(@selection, "stakeholder")
  %li
    - count_unseen_suggestions = @project.suggestions.where(:field_name => "funding", :is_viewed => false).count
    = link_to "Fundings#{count_unseen_suggestions == 0 ? "":",(#{count_unseen_suggestions})"}", display_project_by_action_type_path(@project, "funding"), :class => select_if(@selection, "funding")
  %li
    - count_unseen_suggestions = @project.suggestions.where(:field_name => "link", :is_viewed => false).count
    = link_to "Links#{count_unseen_suggestions == 0 ? "":",(#{count_unseen_suggestions})"}", display_project_by_action_type_path(@project, "link"), :class => select_if(@selection, "link")
  %li
    - count_unseen_suggestions = @project.suggestions.where(:field_name => "news", :is_viewed => false).count
    = link_to "News#{count_unseen_suggestions == 0 ? "":",(#{count_unseen_suggestions})"}", display_project_by_action_type_path(@project, "news"), :class => select_if(@selection, "news")
-#.addContent
  %a{:href => "#"} Add new content page
.borderBottom
/ div right end

