= stylesheet_link_tag "plupload.queue"
= javascript_include_tag "plupload/plupload.full.min", "plupload/jquery.plupload.queue.min"
= javascript_tag do
  = render "plupload.js"
.photos
  #photos_container
    = render :partial => "print", :collection => @project.prints
  #uploader
    %p You browser doesn't have HTML5, Flash or Silverlight support.
