.borderBottom
  .heading
    %h1 Links
    = edit_link(@project, "link")
    .clr
  %ul.listLinks
    - if @project.links.nil? || @project.links.empty?
      %li
        %p
          There are no links for this project yet. Click
          = edit_link(@project, "link")
          to add some
    - else
      - @project.links.each do |link|
        %li
          = link.name
          = link_to link.url, "http://#{link.url}/", :target => "blank"
    .clr
