.borderBottom
  .heading
    %h1 Funding
    %a{:href => "#"} Add new
    = edit_link("fundings")
    .clr
  %ul.funding
    - if @project.project_fundings.nil? || @project.project_fundings.empty?
      %li
        %p
          There are no funds for this project yet. Click
          = edit_link("fundings")
          to add some
    - else
      - @project.project_fundings.each do |funding|
        %li
          %p
            = funding.name
          %span
            = funding.currency
            = funding.amount
    .clr