

.leftContent
  %h1
    - if FollowedProject.where(:user_id => current_user.id, :project_id => project.id).first.nil?
      = link_to '', followed_projects_project_path(project),:remote => true, :class => 'smallStar deselected', :id => "star_#{project.id}", :style => "padding bottom:4px;" 
    - else
      = link_to '', followed_projects_project_path(project),:remote => true, :class => 'smallStar star_selected', :id => "star_#{project.id}", :style => "padding bottom:4px;" 
    = link_to project.title, show_project_path(project.city, project.slug)
  .paddingWrapper
    %h4
      = project.tagline 
    %p
      = raw truncate(sanitize(project.description), :length => 100)
      = link_to "more", show_project_path(project.city, project.slug)
.righContent
  .img
    %img{:height => "75", :src => "/images/resultBg.jpg", :width => "100"}/
.clr
.progressbarWrapper
  .leftSide
    .planningLoader
      .planningLoading
    %span
      = project.status 
  .like
    %img{:height => "20", :src => "/images/fbLikeBg.jpg", :width => "88"}/
  .viewWrapper.rightSide
    = project.view_count 
.clr

