- content_for :search do
  = render "layouts/search_projects"

=#.left.rightSide.leftBprder
.pageTitle
  .leftBprder
    %h2
      = @projects.count 
      Results found
    %p
      = @projects.first.address unless @projects.first.nil?
      .rightSide
        = link_to "Create project", new_project_path, :class => "sign_up"
.clr

%ul.elementWrapper
  -@projects.each do |project|
    %div{:id => "project_#{project.id}"}
      %li
        = render 'search_project', :project => project

- content_for :sidebar do
  = render 'shared/search'
  #map.project_map
  = render 'shared/filter_sidebar'

:javascript
  jQuery(document).ready(function() {
        var coordinates = #{@coordinates.to_json};
        var center_cord = #{@loc_center.to_json};
        var myOptions = {
           zoom: 12,
           center: new google.maps.LatLng(center_cord[0], center_cord[1]),
           mapTypeId: google.maps.MapTypeId.ROADMAP
          };
        var map = new google.maps.Map(document.getElementById("map"), myOptions);
       $.each(coordinates, function(i) {
         var marker = new google.maps.Marker({
         position: new google.maps.LatLng(coordinates[i][0], coordinates[i][1]),
         map: map,
         title: coordinates[0][2]
       });
       });
     });

