/ div left start
.mainHeading
  = @project.title
  %p
    = @project.tagline
.clr
.murgeWrapper
  .wrapperLeft
    .borderBottom
      = render 'slider' 
    .borderBottom
      .heading
        %h1 Contents
        -#= edit_link(@project, "contents")
        .clr
      .inputWrapper
        %input.field{:type => "text", :value => "Search within a Project"}/
        %input.searchBtn{:type => "submit"}/
      %ul.leftNavigation
        %li.main
          %a.head{:href => "#"} Project Outline
          %ul.leftSub
            %li
              - if user_signed_in?
                - if(@project.user_id == current_user.id)             #the owner will only get to view the number of suggestions 
                  - count_unseen_suggestions = @project.suggestions.where(:field_name => "summary", :is_viewed => false).count
                  %a{:href => "#summary"} Summary#{count_unseen_suggestions == 0 ? "":",(#{count_unseen_suggestions})"}       
                - else
                  %a{:href => "#summary"} Summary
            %li
              - if user_signed_in?
                - if(@project.user_id == current_user.id)
                  - count_unseen_suggestions = @project.suggestions.where(:field_name => "objectives", :is_viewed => false).count
                  %a{:href => "#objectives"} Objectives#{count_unseen_suggestions == 0 ? "":",(#{count_unseen_suggestions})"}
                - else
                  %a{:href => "#objectives"} Objectives
            %li
              -if user_signed_in?
                - if(@project.user_id == current_user.id)
                  - count_unseen_suggestions = @project.suggestions.where(:field_name => "stakeholders", :is_viewed => false).count
                  %a{:href => "#stakeholders"} Key stakeholders#{count_unseen_suggestions == 0 ? "":",(#{count_unseen_suggestions})"}
                - else
                  %a{:href => "#stakeholders"} Key stakeholders
        %li
          -if user_signed_in?
            - if(@project.user_id == current_user.id)
              - count_unseen_suggestions = @project.suggestions.where(:field_name => "fundings", :is_viewed => false).count
              %a{:href => "#fundings"} Funding#{count_unseen_suggestions == 0 ? "":",(#{count_unseen_suggestions})"}
            - else
              %a{:href => "#fundings"} Funding
        %li
          %a{:href => "#similar_projects"} Similar Projects
        %li
          -if user_signed_in?
            - if(@project.user_id == current_user.id)
              - count_unseen_suggestions = @project.suggestions.where(:field_name => "links", :is_viewed => false).count
              %a{:href => "#links"} Links#{count_unseen_suggestions == 0 ? "":",(#{count_unseen_suggestions})"}
            - else
              %a{:href => "#links"} Links
        %li
          %a{:href => "#comments"} Comments
    = render :partial => "project_fundings"
    = render :partial => "project_stakeholders"
    = render :partial => "project_links"
  .wrapperRight
    .marBot10
      .voteViewMurge
        .viewWrapper{:style => "margin-right:10px;"}
          = @project.view_count
          Views
        = render :partial => 'projects/fb_like'
        .clr
      .clr
    .loaderWrapper
      .loader
        - temp = @project.project_completion
        #progressBar{:style => "width: #{temp}%"}
      .text
        = "#{temp}% Planning Complete"
    .socialShare
      = render :partial => "projects/social_share"
    .textWrapper
      Project manager:
      = @project.manager
      .clr
      Project sponsor:  
      = @project.sponsor
      .clr
      Project cost:  
      = @project.cost
      .clr
      Project period:  
      = @project.period
      .clr
      .heading
        %h1 Summary
        = edit_link(@project, "summary")
        .clr
      %div{:id => "project_summary"} 
        = raw truncate(sanitize(@project.description, :tag => 'u' 'strike' 'font'), :length => 100)
        = link_to "more", "#more", :class => 'more_summary'
      %div{:id => "project_summary_full", :style => 'display:none;'}
        = raw sanitize(@project.description)
        = link_to "less", "#less", :class => 'more_summary'
    = render "project_objectives"
    = render "project_news"
  .clr
  #project_comments
    %a{:name => "comments"}
    %h1 Comments
    :javascript
      var fyre = LF({
        site_id: 285879,
        version: '1.0'
      });
.clr

= content_for :sidebar do
  = render :partial => 'projects/map'
  = render :partial => 'projects/project_type'
  = render :partial => 'projects/project_status'
  = render :partial => 'projects/project_scopes'
  = render :partial => 'projects/similar_projects'

//Contents for suggestion lightbox
%div{:style=>"display:none"}
  #suggestion_box
    .lightBox
      %h1 Suggest Changes
      .lightboxContent
        = form_for(Suggestion.new, :url => add_suggestion_project_path(@project), :html => {:id => "addSuggestionForm"}) do |f| 
          = f.hidden_field :field_name, :value =>  "", :class => 'fieldInput'
          = f.text_area :text, :class => 'textarea'
          .buttonWrapper
            %input.submitbg{:type => "submit", :value => "Add Suggestion", :class => "submitSuggestion"}
              = link_to "Close", "#", :class => "closeColorbox"
      .lightboxSuccess{:style=>"display:none"}
        %p You suggestion has been submitted and sent to Project Admin for Approval.
      .lightboxError{:style=>"display:none"}
        %p Error Saving you suggestion !!! Please try again.
