/ div left start
.mainHeading
  = @project.title
.clr
.murgeWrapper
  .wrapperLeft
    .borderBottom
      #slider
        %ul
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "/images/testPhoto.jpg"}/
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "/images/testPhoto.jpg"}/
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "/images/testPhoto.jpg"}/
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "/images/testPhoto.jpg"}/
    .borderBottom
      .heading
        %h1 Contents
        %a{:href => "#"} Add new
        = edit_link("contents")
        .clr
      .inputWrapper
        %input.field{:type => "text", :value => "Search within a Project"}/
        %input.searchBtn{:type => "submit"}/
    = render :partial => "project_fundings"
    = render :partial => "project_stakeholders"
    = render :partial => "project_links"
  .wrapperRight
    .marBot10
      %ul.rating
        %li.like
          star1
        %li.like
          star2
        %li.like
          star3
        %li
          star4
        %li
          star5
      .voteViewMurge
        .viewWrapper
          = @project.view_count
          Views
        .voteWrapper
          = render :partial => 'projects/fb_like'
        .clr
      .clr
    .loaderWrapper
      .loader
        - temp = @project.project_completion
        #progressBar{:style => "width: #{temp}%"}
      .text
        = "#{temp}% Planning Complete"
    .socialShare
      = render :partial => "projects/social_share"
    .textWrapper
      .heading
        %h1 Summary
        = edit_link("summary")
        .clr
      = @project.description
    .textWrapper
      .heading
        %h1 News
        %a{:href => "#"} Add new
        = edit_link("news")
        .clr
      %p
        = "Project new here"
        %a{:href => "#"} more
      %p
        %span> Kohsi
        , 3 hrs ago
      %p
        One more news here
        %a{:href => "#"} more
      %p
        %span Fuscemassa
        , 9 Jun 2011
    = render "project_objectives"
  .clr
  #project_comments
    %h1 Comments
    :javascript
      var fyre = LF({
        site_id: 285879,
        version: '1.0'
      });
.clr

= content_for :sidebar do
  = render :partial => 'projects/map'
  = render :partial => 'projects/project_type'
  = render :partial => 'projects/project_status'
  = render :partial => 'projects/project_tags'
  = render :partial => 'projects/project_activity_feed'
  = render :partial => 'projects/similar_projects'

//Contents for suggestion lightbox
%div{:style=>"display:none"}
  #suggestion_box
    .lightBox
      %h1 Suggest Changes
      .lightboxContent
        %form{ :action => add_suggestion_project_path(@project), :id => "addSuggestionForm" }
          = hidden_field_tag 'suggestion[field_name]', "", :class => "fieldInput"
          %textarea.textarea{:name => 'suggestion[text]', :class => "fieldSummary"}
          .buttonWrapper
            %input.submitbg{:type => "submit", :value => "Add Suggestion", :class => "submitSuggestion"}
              = link_to "Close", "#", :class => "closeColorbox"
      .lightboxSuccess{:style=>"display:none"}
        %p You suggestion has been submitted and sent to Project Admin for Approval.
      .lightboxError{:style=>"display:none"}
        %p Error Saving you suggestion !!! Please try again.
