/ div left start
.mainHeading
  = @project.title
.clr
.murgeWrapper
  .wrapperLeft
    .borderBottom
      #slider
        %ul
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "/images/testPhoto.jpg"}/
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "/images/testPhoto.jpg"}/
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "/images/testPhoto.jpg"}/
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "/images/testPhoto.jpg"}/
    .borderBottom
      .heading
        %h1 Contents
        %a{:href => "#"} Add new
        %a{:href => "#"} Edit
        .clr
      .inputWrapper
        %input.field{:type => "text", :value => "Search within a Project"}/
        %input.searchBtn{:type => "submit"}/
    = render "project_fundings"
  .wrapperRight
    .marBot10
      %ul.rating
        %li.like
          star1
        %li.like
          star2
        %li.like
          star3
        %li
          star4
        %li
          star5
      .voteViewMurge
        .viewWrapper
          = @project.view_count
          Views
        .voteWrapper
          = @project.vote_count
          Votes
        .clr
      .clr
    .loaderWrapper
      .loader
        %img{:alt => "", :height => "25px", :src => "/images/loader.jpg", :width => "370px"}/
      .text
        10% Planning Complete
    .socialShare
      %ul
        %li
          %a{:href => "#"} share
        %li.rrs
          %a{:href => "#"} share
        %li.fb
          %a{:href => "#"} share
        %li.twit
          %a{:href => "#"} share
        %li.mail
          %a{:href => "#"} share
        %li.print
          %a{:href => "#"} share
        %li.embed
          %a{:href => "#"} share
        .clr
    .textWrapper
      .heading
        %h1 Summary
        %a{:href => "#"} Edit
        .clr
      = @project.description
    .textWrapper
      .heading
        %h1 News
        %a{:href => "#"} Add new
        %a{:href => "#"} Edit
        .clr
      %p
        = "Project new here"
        %a{:href => "#"} more
      %p
        %span> Kohsi
        , 3 hrs ago
      %p
        One more news here
        %a{:href => "#"} more
      %p
        %span Fuscemassa
        , 9 Jun 2011
    = render "project_objectives"
  .clr
  #project_comments
    %h1 Comments
    :javascript
      var fyre = LF({
        site_id: 285879,
        version: '1.0'
      });
.clr

= content_for :sidebar do
  = render :partial => 'projects/map'
  = render :partial => 'projects/project_type'
  = render :partial => 'projects/project_status'
  = render :partial => 'projects/project_tags'
  = render :partial => 'projects/project_activity_feed'
  = render :partial => 'projects/similar_projects'