-#%p#notice= notice
-#%p
-#  %b Title:
-#  = @project.title
-#%p
-#  %b Description:
-#  \#{link_to "Suggest","#",:class=>"suggest_me"}
-#  = @project.description
-#%p
-#  %b Address:
-#  = @project.address%p#notice= notice
-#
-##project_comments
-#  %h2 Comments
-#  :javascript
-#    var fyre = LF({
-#      site_id: 285879,
-#      version: '1.0'
-#    });
-#
-#
-#//link_to 'Edit', edit_project_path(@project)
-#
-#
-#:javascript
-#  $(".suggest_me").colorbox({inline: true, href:"#suggest_div"})
-#
-#%div{:style => "display:none;"}
-#  #suggest_div
-#    %p Please submit your suggestion:
-#    =text_area_tag "project","",:rows=>"5",:cols=>"40"
-#
-#= content_for :sidebar do
-#  #map_canvas
-#    :javascript
-#      var myOptions = {
-#        zoom: 12,
-#        #{'center: new google.maps.LatLng(' + @project.coordinates[0].to_s + ', ' + @project.coordinates[1].to_s + '),'}
-#        mapTypeId: google.maps.MapTypeId.ROADMAP
-#      }
-#      var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);


\#{link_to 'Back', projects_path}

/ div left start
.mainHeading
  = @project.title
.clr
.murgeWrapper
  .wrapperLeft
    .borderBottom
      #slider
        %ul
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "images/testPhoto.jpg"}/
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "images/testPhoto.jpg"}/
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "images/testPhoto.jpg"}/
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "images/testPhoto.jpg"}/
    .borderBottom
      .heading
        %h1 Contents
        %a{:href => "#"} Add new
        %a{:href => "#"} Edit
        .clr
      .inputWrapper
        %input.field{:type => "text", :value => "Search within a Project"}/
        %input.searchBtn{:type => "submit"}/
    .borderBottom
      .heading
        %h1 Funding
        %a{:href => "#"} Add new
        %a{:href => "#"} Edit
        .clr
      %ul.funding
        %li
          %p Estimated Cost April '11
          %span $1,800,000
        %li
          %p Current Total t Funding
          %span $1,200,000
        %li
          %p Federal Gov. Contribution
          %span $ 800,000
        %li
          %p State Gov. Contribution
          %span $ 100,000
        %li
          %p Private Donations
          %span $ 300,000
        .clr
  .wrapperRight
    .marBot10
      %ul.rating
        %li.like
          star1
        %li.like
          star2
        %li.like
          star3
        %li
          star4
        %li
          star5
      .voteViewMurge
        .viewWrapper
          99999 View
        .voteWrapper
          99999 View
        .clr
      .clr
    .loaderWrapper
      .loader
        %img{:alt => "", :height => "25px", :src => "images/loader.jpg", :width => "370px"}/
      .text
        10% Planning Complete
    .socialShare
      %ul
        %li
          %a{:href => "#"} share
        %li.rrs
          %a{:href => "#"} share
        %li.fb
          %a{:href => "#"} share
        %li.twit
          %a{:href => "#"} share
        %li.mail
          %a{:href => "#"} share
        %li.print
          %a{:href => "#"} share
        %li.embed
          %a{:href => "#"} share
        .clr
    .textWrapper
      .heading
        %h1 Summary
        %a{:href => "#"} Edit
        .clr
      = @project.description
    .textWrapper
      .heading
        %h1 News
        %a{:href => "#"} Add new
        %a{:href => "#"} Edit
        .clr
      %p
        = "Project new here"
        %a{:href => "#"} more
      %p
        %span> Kohsi
        , 3 hrs ago
      %p
        One more news here
        %a{:href => "#"} more
      %p
        %span Fuscemassa
        , 9 Jun 2011
    .textWrapper
      .heading
        %h1 Project Objectives
        %a{:href => "#"} Add new
        %a{:href => "#"} Edit
        .clr
      /
        <ul class="listTypeLinks">
        <li class="mainLink">
        <a class="head" href="#">Repair the temple to it's original condition (High Priority)</a>
        <ul class="subLink">
        <li><a href="#">Assess damage</a></li>
        <li><a href="#">Complete Construction Plan</a></li>
        <li><a href="#">Obtain Funding</a></li>
        </ul>
        </li>
        <li class="mainLink">
        <a class="head" href="#">Ensure the temple is maintained in it's original condition (High Priority)</a>
        <ul class="subLink">
        <li><a href="#">Develop a maintenance Plan</a></li>
        <li><a href="#">Annual Review</a></li>
        </ul>
        </li>
        <li class="mainLink">
        <a class="head" href="#">Execute maintenance Plan</a>
        <ul class="subLink">
        <li><a href="#">Effects A</a></li>
        <li><a href="#">Effects B</a></li>
        <li><a href="#">Effects C</a></li>
        <li><a href="#">Effects D</a></li>
        </ul>
        </li>
        <li class="main">
        <a class="head" href="#">Fund maintenance</a>
        </li>
        </ul>
      .clr
  .clr
.clr
/ div left End
/ div right start
-#.right
-#  .inputWrapper
-#    %input.field{:type => "text", :value => "Search"}/
-#    %input.searchBtn{:type => "submit"}/
-#  #map.project_map
-#  #project_type.borderBottom
-#    %h3 Project Type
-#    %ul
-#      %li
-#        %input.checkBox{:type => "checkbox"}/
-#        %label.label Local Project
-#      %li
-#        %input.checkBox{:type => "checkbox"}/
-#        %label.label Property
-#      %li
-#        %input.checkBox{:type => "checkbox"}/
-#        %label.label Suspendisse
-#      %li
-#        %input.checkBox{:type => "checkbox"}/
-#        %label.label Pellentesque
-#      .clr
-#  #project_status.borderBottom
-#    %h3 Phase / Status
-#    %ul
-#      %li
-#        %input.checkBox{:type => "checkbox"}/
-#        %label.label Local Project
-#      %li
-#        %input.checkBox{:type => "checkbox"}/
-#        %label.label Property
-#      %li
-#        %input.checkBox{:type => "checkbox"}/
-#        %label.label Suspendisse
-#      %li
-#        %input.checkBox{:type => "checkbox"}/
-#        %label.label Pellentesque
-#      .clr
-#  #project_tags.borderBottom
-#    %h3 Tags
-#    .tabWrapper
-#      %ul.tabs
-#        %li.first
-#          %a{:href => "#tab1"} Historic
-#        %li
-#          %a{:href => "#tab2"} Hindu
-#        %li
-#          %a{:href => "#tab3"} Worship
-#        %li
-#          %a{:href => "#tab4"} Religion
-#        %li
-#          %a{:href => "#tab5"} Temple
-#        %li
-#          %a{:href => "#tab6"} Heritage
-#        %li
-#          %a{:href => "#tab7"} Reconstruction
-#        .clr
-#      .inputWrapper.borderBottom
-#        %input.field{:type => "text", :value => "Search"}/
-#        %input.addBtn{:type => "submit"}/
-#      .tab_container
-#        #tab1.tab_content
-#          .textWrapper
-#            %h3 Activity Feed
-#            %p Content Added - Tags, Similar Projects
-#            %p
-#              %span> Josh X
-#              , 30 min ago
-#            %p Content Added - Phase / Status
-#            %p
-#              %span> Josh X
-#              , 2 hrs ago
-#            %p Content Added - Project Type
-#            %p
-#              %span> Josh X
-#              , 4 hrs ago
-#            %p Content Added - Project Objectives
-#            %p
-#              %span> Josh X
-#              , 5 hrs ago
-#            %p Fields Added - Project Objectives,Contents
-#            %p
-#              %span> Josh X
-#              , 5 hrs ago
-#        #tab2.tab_content
-#          2
-#        #tab3.tab_content
-#          3
-#        #tab4.tab_content
-#          4
-#        #tab5.tab_content
-#          5
-#        #tab6.tab_content
-#          6
-#        #tab7.tab_content
-#          7
-#  #project_similar_projects.borderBottom
-#    %h3 Similar Projects
-#    = succeed "," do
-#      %a{:href => "#"} Jain Temple Reconstruction
-#    %a{:href => "#"} Baner Road Pune
-#    = succeed "," do
-#      %a{:href => "#"} Temple Complex Restoration
-#    = succeed "," do
-#      %a{:href => "#"} Pune Centre
-#    %a{:href => "#"} Restoration and Preservation of Hindu Temples in Pune
-#/ div right end
-#.clr
-#/ content end
-#.clr




= content_for :sidebar do
  = render :partial => 'projects/map'
  = render :partial => 'projects/project_type'
  = render :partial => 'projects/project_status'
  = render :partial => 'projects/project_tags'
  = render :partial => 'projects/project_activity_feed'
  = render :partial => 'projects/similar_projects'