<h1>Listing project_fundings</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>Currency</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project_fundings.each do |project_funding| %>
  <tr>
    <td><%= project_funding.name %></td>
    <td><%= project_funding.amount %></td>
    <td><%= project_funding.currency %></td>
    <td><%= link_to 'Show', project_funding %></td>
    <td><%= link_to 'Edit', edit_project_funding_path(project_funding) %></td>
    <td><%= link_to 'Destroy', project_funding, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project funding', new_project_funding_path %>
