<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project_funding.name %>
</p>

<p>
  <b>Amount:</b>
  <%= @project_funding.amount %>
</p>

<p>
  <b>Currency:</b>
  <%= @project_funding.currency %>
</p>


<%= link_to 'Edit', edit_project_funding_path(@project_funding) %> |
<%= link_to 'Back', project_fundings_path %>
