
- if !user_signed_in?
  #headerBeforeLogin
    .headerContent
      .logo.logoSelect
        = link_to "kipWiki", home_index_path
      .leftSide.marLeft10
        = yield(:search)
      .beforeLoginFormContent
        = form_for(User.new, :url => new_user_session_path) do |f|
          .rightSide
            %input.loginBg{:type => "submit", :value => "Login"}/
            .clr
            = link_to  "Don't have an account? Register now!", new_user_registration_path 
    .clr

- if user_signed_in?
  #header
    .headerContent
      .logo.logoSelect
        = link_to 'kipWiki', dashboard_path 
      .leftSide.marLeft10
        = yield(:search)
      .rightSide.marTop25	 
        %ul.subMenu
          %li
            = link_to "Dashboard", dashboard_path 
          | 
          %li
            = link_to  "Help", "#"
          | 
          %li
            = link_to "Logout", destroy_user_session_path 
    .clr



