/ header start
#header
  .headerContent
    .logo
      = link_to "KipWiki", root_path
    .navigation
      %ul.main
        %li{:class => select_main_menu_if("projects#search", [controller_name, action_name].join("#"))}
          = link_to "Search", project_search_path
        %li{:class => select_main_menu_if("projects#new", [controller_name, action_name].join("#"))}
          = link_to "Create Project" , new_project_path
        - if user_signed_in?
          %li{:class => select_main_menu_if("projects#my_projects", [controller_name, action_name].join("#"))}
            = link_to "My Projects" , user_projects_path 
      = link_to "Signup", authentications_path , :class => "sign_up" unless user_signed_in?
      %ul.subMenu
        %li
          %a{:href => "#"} About
        %li 
          - if user_signed_in?
            = link_to "Profile", edit_user_registration_path
          - else
            %a{:href => "#"} Profile
        %li
          %a{:href => "#"} Help & Feedback
        %li
          - if user_signed_in?
            = link_to "Logout", destroy_user_session_path
          - else
            = link_to "Login", authentications_path
      .clr
  .clr
