
- if !user_signed_in?
  #headerBeforeLogin
    .headerContent
      .logo.logoSelect
        = link_to 'kipWiki', root_path 
      .beforeLoginFormContent
        = form_for(User.new, :url => new_user_session_path) do |f|
          .leftSide
            = f.email_field :email , :class => "field signpFiled", :placeholder => "Email"
            .clr
            = link_to  "Forgotten your password?", new_user_password_path
          .leftSide.marLeft10
            = f.password_field :password , :class => "field signpFiled", :placeholder => "Password"
            .clr
            = link_to  "Don't have an account? Register now!", new_user_registration_path 
          .rightSide
            %input.loginBg{:type => "submit", :value => "Login"}/
    .clr

- if user_signed_in?
  #header
    .headerContent
      .logo.logoSelect
        = link_to 'kipWiki', dashboard_path 
      .leftSide.marLeft10
        = yield(:search)
      .rightSide.marTop25	 
        %ul.subMenu
          %li
            = link_to "Dashboard", dashboard_path 
          | 
          %li
            = link_to  "Help", "#"
          | 
          %li
            = link_to "Logout", destroy_user_session_path 
    .clr



