!!!
%html

  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    = stylesheet_link_tag :all
    = javascript_include_tag "jquery"
    = javascript_include_tag "colorbox"
    = javascript_include_tag "application"
    = csrf_meta_tag
    = yield(:head)

  %body
    #container
      %h1
        Kiwiki
      .navigation
        %ul.navigationUl
          %li
          = link_to "Home", root_path
          |
          = link_to "Login/SignUp", "#"
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"

      - if show_title?
        %h1= yield(:title)

      = yield
