!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      = yield(:title) || "Untitled"
    = stylesheet_link_tag "application","colorbox"
    = javascript_include_tag "jquery", "colorbox", "application"
    = csrf_meta_tag
    = yield(:head)

    %body
      #wrapper
        / header start
        #header
          .headerContent
            .logo
              %a{:href => "#"} kipWiki
            .navigation
              %ul.main
                %li.selected
                  = link_to "Projects", projects_path
                %li
                  %a{:href => "#"} Notifications
                %li
                  %a{:href => "#"} Create Project
              %ul.subMenu
                %li
                  %a{:href => "#"} About
                %li
                  %a{:href => "#"} Profile
                %li
                  %a{:href => "#"} Help & Feedback
                %li
                  - if user_signed_in?
                    = link_to "Logout", destroy_user_session_path
                  - else
                    = link_to "Signup/Login", authentications_path
                  
              .clr
          .clr
        / Header End here
        .clr
        / content start
        #content
          / div left start
          .left
            - flash.each do |name, msg|
              = content_tag :div, msg, :id => "flash_#{name}"
            = yield
            
          / div right start
          .right
            .inputWrapper
              %input.field{:type => "text", :value => "Search"}/
              %input.searchBtn{:type => "submit"}/
            #map.project_map
            #project_type.borderBottom
              %h3 Category
              %ul
                -APP_CONFIG[:categories].each do |category|
                  %li
                    = check_box_tag category.gsub(/\W/, ''), category, false, :class => 'category'
                    %label.label= category
              .clr
            #project_status.borderBottom
              %h3 Phase / Status
              %ul
                -APP_CONFIG[:statuses].each do |status|
                  %li
                    = check_box_tag status.gsub(/\W/, ''), status, false, :class => 'status'
                    %label.label= status
              .clr
            #project_scope.borderBottom
              %h3 Scope
              %ul
                -APP_CONFIG[:project_scopes].each do |scope|
                  %li
                    = check_box_tag scope.gsub(/\W/, ''), scope, false, :class => 'scope'
                    %label.label= scope
              .clr
            #project_tags.borderBottom
              .tab_container
                #tab1.tab_content
                  .textWrapper
                    %h3 Activity Feed
                    %p Content Added - Tags, Similar Projects
                    %p
                      %span> Josh X
                      , 30 min ago
                    %p Content Added - Phase / Status
                    %p
                      %span> Josh X
                      , 2 hrs ago
                    %p Content Added - Project Type
                    %p
                      %span> Josh X
                      , 4 hrs ago
                    %p Content Added - Project Objectives
                    %p
                      %span> Josh X
                      , 5 hrs ago
                    %p Fields Added - Project Objectives,Contents
                    %p
                      %span> Josh X
                      , 5 hrs ago
                #tab2.tab_content
                  2
                #tab3.tab_content
                  3
                #tab4.tab_content
                  4
                #tab5.tab_content
                  5
                #tab6.tab_content
                  6
                #tab7.tab_content
                  7
            #project_similar_projects.borderBottom
              %h3 Similar Projects
              = succeed "," do
                %a{:href => "#"} Jain Temple Reconstruction
              %a{:href => "#"} Baner Road Pune
              = succeed "," do
                %a{:href => "#"} Temple Complex Restoration
              = succeed "," do
                %a{:href => "#"} Pune Centre
              %a{:href => "#"} Restoration and Preservation of Hindu Temples in Pune
          / div right end
          .clr
        / content end
        .clr
        / footer Start
        #footer
        / footer end
        .clr
