!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title KipWiki
    = stylesheet_link_tag :all
    %link{:href => "css/global.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #wrapper
      / header start
      #header
        .headerContent
          .logo
            = link_to "KipWiki", root_path
          .navigation
            %ul.main
              %li.selected
                %a{:href => "#"} Projects
              %li
                %a{:href => "#"} Notifications
              %li
                %a{:href => "#"} Create Project
            %ul.subMenu
              %li
                %a{:href => "#"} About
              %li
                %a{:href => "#"} Profile
              %li
                %a{:href => "#"} Help & Feedback
              %li
                - if user_signed_in?
                  = link_to "Logout", destroy_user_session_path
                - else
                  = link_to "Signup/Login", authentications_path
            .clr
        .clr
      / Header End here
      .clr
      / content start
      #content
        / div left start
        .left
          = yield
          .clr
        / div left End
        / div right start
        .right
        / div right end
        .clr
      / content end
      .clr
      / footer Start
      #footer
      / footer end
      .clr