!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      = yield(:title) || "Untitled"
    = stylesheet_link_tag "application","colorbox"
    = javascript_include_tag "colorbox"
    = javascript_include_tag "application"
    = javascript_include_tag "jquery", "colorbox", "application"
    = csrf_meta_tag
    = yield(:head)
  %body
    #wrapper
      = render :partial => "layouts/header"
      .clr
      / content start
      #content
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
        / div left start
        .left
          = yield
          .clr
        / div left End
        / div right start
        .right
        / div right end
        .clr
      / content end
      .clr
      / footer Start
      #footer
      / footer end
      .clr
