!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      = yield(:title) || "Untitled"
    = stylesheet_link_tag "application","colorbox", "projects"
    = javascript_include_tag "colorbox"
    = javascript_include_tag "application"
    = javascript_include_tag "jquery", "colorbox", "application"
    = javascript_include_tag "livefyre", :src => 'http://livefyre.com/wjs/javascripts/livefyre.js'
    = javascript_include_tag "google-maps", :src => "http://maps.google.com/maps/api/js?libraries=geometry&sensor=true"
    = csrf_meta_tag
    = yield(:head)
    
  %body
    #wrapper
      / header start
      #header
        .headerContent
          .logo
            = link_to "KipWiki", root_path
          .navigation
            %ul.main
              %li.selected
                %a{:href => "#"} Projects
              %li
                %a{:href => "#"} Notifications
              %li
                %a{:href => "#"} Create Project
            %ul.subMenu
              %li
                %a{:href => "#"} About
              %li
                %a{:href => "#"} Profile
              %li
                %a{:href => "#"} Help & Feedback
              %li
                - if user_signed_in?
                  = link_to "Logout", destroy_user_session_path
                - else
                  = link_to "Signup/Login", authentications_path
            .clr
        .clr
      / Header End here
      .clr
      / content start
      #content
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
        / div left start
        .left
          = yield
          %h2 Comments
          :javascript
            //var fyre = LF({
            //  site_id: 285879,
            //  version: '1.0'
            //});
          .clr
        / div left End
        / div right start
        #sidebar.right
          %h2 Sidebar
          = yield(:sidebar)
          / footer end
          .clr
        / div right end
        .clr
      / content end
      .clr
      / footer Start
      #footer

